n8n/http-security-headers-checker/workflow.json
{
  "id": "8643b656a9eb674c",
  "name": "Q Services - http-security-headers-checker",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "daysInterval": 1,
              "triggerAtHour": 8
            }
          ]
        }
      },
      "id": "schedule",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {},
      "id": "test-trigger",
      "name": "Test Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        160
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "input",
              "name": "actorInput",
              "type": "object",
              "value": {
                "startUrls": [
                  "https://example.com"
                ],
                "maxResults": 1,
                "proxyConfiguration": {
                  "useApifyProxy": false
                }
              }
            }
          ]
        }
      },
      "id": "prepare",
      "name": "Prepare safe input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        220,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/GWUbdt1hxWioYEEZA/runs?maxTotalChargeUsd=0.05",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.APIFY_TOKEN}}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify($json.actorInput) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "start",
      "name": "Start Apify Actor",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        460,
        0
      ]
    },
    {
      "parameters": {
        "amount": 10,
        "unit": "seconds"
      },
      "id": "wait",
      "name": "Wait before polling",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        680,
        0
      ]
    },
    {
      "parameters": {
        "url": "=https://api.apify.com/v2/actor-runs/{{$('Start Apify Actor').item.json.data.id}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.APIFY_TOKEN}}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "poll",
      "name": "Poll run status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "conditions": [
            {
              "leftValue": "={{ $json.data.status }}",
              "rightValue": "SUCCEEDED",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "success",
      "name": "Run succeeded?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1120,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "conditions": [
            {
              "leftValue": "={{ ['FAILED', 'TIMED-OUT', 'ABORTED'].includes($json.data.status) }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ]
        }
      },
      "id": "terminal",
      "name": "Run terminal?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1350,
        120
      ]
    },
    {
      "parameters": {
        "url": "=https://api.apify.com/v2/datasets/{{$json.data.defaultDatasetId}}/items?clean=true",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.APIFY_TOKEN}}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "dataset",
      "name": "Get dataset items",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1580,
        -100
      ]
    },
    {
      "parameters": {
        "jsCode": "throw new Error('Apify run did not succeed: ' + $json.data.status);"
      },
      "id": "failure",
      "name": "Fail with run status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1580,
        120
      ]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Prepare safe input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test Trigger": {
      "main": [
        [
          {
            "node": "Prepare safe input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare safe input": {
      "main": [
        [
          {
            "node": "Start Apify Actor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Apify Actor": {
      "main": [
        [
          {
            "node": "Wait before polling",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait before polling": {
      "main": [
        [
          {
            "node": "Poll run status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Poll run status": {
      "main": [
        [
          {
            "node": "Run succeeded?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run succeeded?": {
      "main": [
        [
          {
            "node": "Get dataset items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Run terminal?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run terminal?": {
      "main": [
        [
          {
            "node": "Fail with run status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait before polling",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all"
  },
  "meta": {
    "templateCredsSetupCompleted": false,
    "qServices": {
      "actor": "https://apify.com/q_services/http-security-headers-checker",
      "article": "https://q-services.fr/blog/http-security-headers-checker-2026-07-24-growth-guide/"
    }
  },
  "active": false,
  "versionId": "00000000-0000-4000-8000-000000000001"
}
